scraper/composite-cf.html
scraper/composite-cf.txt
scraper/espn-ratings.html
scraper/espn-ratings.txt
scraper/scraper/__init__.pyc
scraper/scraper/settings.pyc
scraper/scraper/spiders/__init__.pyc
scraper/scraper/spiders/massey_spider.pyc
scraper/scraper/spiders/espn_spider.pyc
constants/__pycache__/
processing/__pycache__/readers.cpython-36.pyc
processing/__pycache__/teams.cpython-36.pyc
scraper/composite-cf.csv
scraper/espn-ratings.csv
processing/__pycache__/team.cpython-36.pyc
results.txt
processing/__pycache__/team.cpython-36.pyc
last_week.txt
reddit-saved.txt
reddit.txt
scraper/scraper/spiders/standings_spider.pyc
scraper/standings.csv
modified:   processing/__pycache__/team.cpython-36.pyc
check_names.py
